/* IMPOSTAZIONI GENERALI */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-size: cover;
    background-attachment: fixed;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

.center {
    text-align: center;
}

/* HEADER */
#header {
    margin: 15px;
    background: rgb(9, 50, 121);
    background: linear-gradient(90deg, rgba(9, 50, 121, 1) 31%, rgba(8, 71, 132, 1) 45%);
    text-align: center;
}

/*immagine*/

img {
    width: 100%;
}

#img {
    max-width: 100%;
    width: 200px;
    padding: 15px;
}

#style {
    color: white;
    padding: 15px;
    font-size: 1.1rem;
}

#ul {
    list-style: none;
    padding: 10px;
}

.link {
    color: white;
    text-decoration: none;
}

/* MAIN */
#main {
    margin: 15px;
    background-color: rgb(255, 252, 252);
    padding: 15px;
}

#color {
    color: grey;
    padding: 10px;
}

.span {
    color: rgb(128, 59, 192);
}

.tag {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(216, 214, 214);
    border-radius: 5px;
    border: 1px solid rgb(114, 112, 112);
}

.padding {
    padding: 10px;
}

.padding-left {
    padding-left: 50px;
}

.link2 {
    color: rgb(42, 106, 179);
}

.margincentrato {
    margin-left: auto;
    margin-right: auto;
}

caption {
    font-weight: bold;
    font-style: italic;
}

table {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

table th {
    background-color: #006b88;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}

tbody {
    border-bottom: #006b88 1px solid;
}

table td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/*form*/
aside {
    width: 100%;
}

.box {
    margin-top: 15px;
    background-color: rgba(221, 221, 222, 255);
    padding: 10px;
    text-align: left;

}

.box h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-align: center;
}

fieldset {
    text-align: left;
    padding: 10px;
}

.box button {
    background-color: #3d6dd7;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.box input {
    border: none;
    border-bottom: 1px dashed black;
}

/*article*/
article h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

/* ELEMENTI NELL' ASIDE */

/* FOOTER */