
.center{
    text-align: center;
}

.margine{
    width: 700px;
    margin: 0 auto;
}

#headtitle {
    height: 50px;
    border-top: 1px outset rgb(245, 192, 19);
    color: rgb(121, 141, 179);
    background-color: rgb(250, 250, 237);
    text-align: center;
    line-height: 50px;
    }


#name {
    color:grey;
}

.featured {
    color: rgb(243, 65, 10);
    border-left: 1px outset rgb(245, 192, 19);
    border-width: 1px;
    padding-left: 15px;
}

.link{
    color: rgb(121, 141, 179);
}

.titoli{
    border-bottom: 1px outset rgb(121, 141, 179);
    padding-bottom: 15px;
    font-weight: bold;
}
ul{

}