.center{
    text-align: center;
}

#headtitle {
    height: ;
    border-top: 1px outset rgb(245, 192, 19);
    color: rgb(65, 107, 184);
    background-color: rgb(250, 250, 237);
    text-align: center;
    line-height: ;
    }

#roll{
    text-align: center;
}