<h2>La tua Lista!</h2>
<form class="add">
    <input [(ngModel)]="toDoElement.title" [(ngModel)]="innerText" type="text" class="dsc" name="title"
        placeholder="Learn a new skill!!">
    <button (click)="create()">+</button>
</form>
<div class="container">
    <div *ngFor="let toDoElement of arrList" class="elementContainer">
        <div *ngIf="toDoElement.completed==false">
            <div>
                <p class="elementId">{{toDoElement.id}}</p>
                <p class="elementTitle">{{toDoElement.title}}</p>
            </div>
            <div>
                <button class="edit">Modifica</button>
                <button (click)="deleteToDo(toDoElement.id)" class="delete">Cancella</button>
                <button (click)="complete(toDoElement)" class="completed">Completata!</button>
            </div>
        </div>
    </div>
</div>