<h2>Questa è la tua lista!</h2>
<form>
    <input [(ngModel)]='element.title' [(ngModel)]="buttonText" (keyup.enter)="create()" type="text" name="title"
        placeholder="Fai le cose animale!">
    <button (click)="create()">Aggiungi</button>
</form>
<div>
    <div *ngFor="let elemento of toDoArr">
        <div *ngIf="elemento.completed == false">
            <div>
                <p>{{elemento.id}}. {{elemento.title}}</p>
            </div>
            <div>
                <button (click)="showEdit(elemento.id)">Modifica</button>
                <button (click)="delete(elemento.id)">Elimina</button>
                <button (click)="complete(elemento)">Completato!</button>
            </div>
        </div>
    </div>
</div>