.myDiv {
    border: 5px outset red;
    background-color: rgb(228, 235, 238);
    text-align: center;
}

table {
    border-collapse: collapse
}

td,
th {
    border: 1px solid #0f0f0f;
    padding: 8px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0e6e6;
}
.form {}

input,
textarea {
    background-color: bisque;
    color: #0b1aa0;
}

.button {
    background-color: rgb(4, 4, 131);
    color: blanchedalmond;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
}

.button:hover {
    background-color: blue;
    transition: 0.7s;
}

.button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px rgb(201, 22, 22);
    transition: 0, 7s;
}

.button:active {
    background-color: rgb(201, 22, 22);
}

.movedi{
    display: flex;
}
