body {
    font-family: 'Indie Flower', cursive;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

p {
    font-size: 2rem;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #666666;
    padding: 50px;
}

@keyframes aniPost {
    0% {
        transform: scale(3, 3);
        opacity: 0;
        z-index: 1;
    }

    1% {
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        z-index: 1;
    }
}


.postit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    margin: 20px;
    box-shadow: 5px 5px 5px black;
    border: 1px solid grey;
    transition: 1s;
}

.postit:hover {
    transform: scale(1.3, 1.3);
    rotate: 0deg;
    transition: 1.5s;
    z-index: 1;
}

.animazione1 {
    rotate: -3deg;
    animation: aniPost 1s linear 1 backwards;
}


.animazione2 {
    rotate: 5deg;
    animation: aniPost 1s linear 1s backwards;
}

.animazione3 {
    rotate: 3deg;
    animation: aniPost 1s linear 2s backwards;
}

.animazione4 {
    rotate: 10deg;
    animation: aniPost 1s linear 3s backwards;
}

.animazione5 {
    rotate: -3deg;
    animation: aniPost 1s linear 4s backwards;
}

.animazione6 {
    rotate: 3deg;
    animation: aniPost 1s linear 5s backwards;
}

.animazione7 {
    rotate: -3deg;
    animation: aniPost 1s linear 6s backwards;
}

.animazione8 {
    rotate: 5deg;
    animation: aniPost 1s linear 7s backwards;
}

.yellow {
    background-image: radial-gradient(circle at 60.19% 21.99%, #ffffbd 0, #ffffb3 16.67%, #ffeda8 33.33%, #f2d59d 50%, #dbbe92 66.67%, #c4a989 83.33%, #b09780 100%);
}

.green {
    background-image: radial-gradient(circle at 60.9% 20.05%, #ffffc9 0, #fbffc9 10%, #eaffc7 20%, #dafcc5 30%, #caf0c2 40%, #bae2bd 50%, #acd4b7 60%, #a1c8b2 70%, #99bdad 80%, #92b3a8 90%, #8daca4 100%);
}

.blue {
    background-image: radial-gradient(circle at 60.19% 21.99%, #ff8dff 0, #f883f4 16.67%, #d477e2 33.33%, #af6acd 50%, #8c5cb6 66.67%, #6d50a1 83.33%, #52458d 100%);
}