<body class="text-center">
    <form class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Email address" [(ngModel)]="user.email">

        <label for="inputName" class="sr-only">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="user.name">

        <label for="inputSurname" class="sr-only">Surname</label>
        <input type="text" class="form-control" name="surname" placeholder="Surname" [(ngModel)]="user.surname">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password">

        <button class="btn btn-lg btn-primary btn-block" (click)="register()">Sign in</button>
    </form>


</body>