.mainTitle {
    color: white;
}

.carousel-control-next {
    margin-bottom: 32px;
    width: 32px;
}

.carousel-control-prev {
    margin-right: -5%;

}

.carousel-item {
    transition: 2s;
}

.movie-row {
    margin-top: 20px;
    margin-bottom: 50px;
}

.cover {
    width: 99%;
    transition: 0.3s;
    opacity: 1;

    &:hover {
        opacity: 1;
        transition: 0.3s;
        cursor: pointer;
        transform: scale(1.25);
    }
}