/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
#testoAlternato {
    display: flex;
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    border: 2px solid black;
    width: 480px;
}

.parole {
    margin-left: 5px;
    position: absolute;
    opacity: 0;
    color: rgb(41, 146, 198);
}

#rol1 {
    animation: fade1 6s ease-in 0s infinite;
}


#rol2 {
    animation: fade1 6s ease-in 2s infinite;
}

#rol3 {
    animation: fade1 6s ease-in 4s infinite;
}


@keyframes fade1 {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    50% {

        transform: translatey(0);
        opacity: 1;

    }

    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}